# Copyright (c) 2023 VEXXHOST, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

containerd_versions: "{{ containerd_archive_checksums['amd64'].keys() | list | community.general.version_sort }}"

containerd_latest_v1: "{{ containerd_versions | select('match', '^1\\..*') | list | last }}"
containerd_latest: "{{ containerd_versions | last }}"

containerd_version: "{{ containerd_latest_v1 if ansible_facts['distribution_release'] == 'focal' else containerd_latest }}"

containerd_archive_checksums:
  amd64:
    1.7.17: 04cf937349f82d29fe98553ff45a7e9ea2ed6b81fe6514e3679cf263b50409ff
    1.7.18: a24b05b341c155a0ec367d3d0fd1d437c09a0261dffdecc0e44e9abbf2d02aca
    1.7.19: 97f75e60f0ad19d335b1d23385835df721cad4492740d50576997f2717dc3f94
    1.7.20: e09410787b6f392748959177a84e024424f75d7aff33ea1c5b783f2260edce67
    1.7.21: 3d1fcdfd0b141f4dc4916b7aee7f9a7773dc344baffc8954e1ca66b1adc5c120
    1.7.22: f8b2d935d1f86003f4e0c1af3b9f0d2820bacabe6dc9f562785b74af24c5e468
    1.7.23: 8a0de43d9313aef2ebdccc0ffa49461a4a28139a2c0ef104c3c847f6f37c8119
    1.7.24: 1a94f15139f37633f39e24f08a4071f4533b285df3cbee6478972d26147bcaef
    1.7.25: 02990fa281c0a2c4b073c6d2415d264b682bd693aa7d86c5d8eb4b86d684a18c
    1.7.26: fdf1fb17086b62fc861103da4e3fda3d79bc543b42d2acef5d07e76b13d35d19
    1.7.27: 5b038fb22ab5dbb1ce57dd3d8f102460cd8619ff2afc78870837b06e8c4e840a
    1.7.28: 7a8c262deb63becc877e82d23749e4f99f4a17e8e660f9b8c257ca87a5c056b6
    1.7.29: 71d9f6e4ea4a9e108e2172b0e7f6fa137e086808db3e6874dbdb91c01102d3d4
    1.7.30: ca0f27e34411504acd1cd24fcbaa71b9c47d31ce9408c47c54a2dc1810ceb1df
    2.0.0: 6f8da716941f7e89315cefaa6e5a8f1ff10b323ff46611313c455df7ab1ebee1
    2.0.1: 85061a5ce1b306292d5a64f85d5cd3aff93d0982737a1069d370dd6cb7bbfd09
    2.0.2: 9bd5b6a1bdf505d520d9a329c520258ed0a17faa9fe3db12712ee858ad59aae3
    2.0.3: ac70856f1d8bd3aa9ca5d62db5516b86dfa0f934c1fd1d1c5fa4422dd12ba45e
    2.0.4: e1c64c5fd60ecd555e750744eaef150b6f78d7f750da5c08c52825aa6b791737
    2.0.5: 88ab31f3e78e4d2fa12dcb933032122d11d441c83b79a89c6c8076f871e50df8
    2.0.6: a545471a67b8508a3c58ad01a4e6bb2921ace1e59e00a0a2d2e784c1f4fa8caa
    2.0.7: 6dc663cd245d19c3e68260ca86247469563a31decac925087b62a2a819dfcbee
    2.1.0: 0e5359e957b66b679be807563a543c7416e305e3aafcf56bad90ef87a917014d
    2.1.1: 918e88fd393c28c89424e6535df0546ca36c1dfa7d8a5d685dee70b449380a9b
    2.1.2: 87c18b2686f38ee6f738492d04fc849f80567b7849d0710ee9d19fac3454adc4
    2.1.3: 436cc160c33b37ec25b89fb5c72fc879ab2b3416df5d7af240c3e9c2f4065d3c
    2.1.4: 316d510a0428276d931023f72c09fdff1a6ba81d6cc36f31805fea6a3c88f515
    2.1.5: 403af72d9f956ed8a5ad5b0ac0f1e8e371a1488f2b9edf9b4ba13db0653936ea
    2.1.6: 4793dc5c1f34ebf8402990d0050f3c294aa3c794cd5a4baa403c1cf10602326d
    2.2.0: b9626a94ab93b00bcbcbf13d98deef972c6fb064690e57940632df54ad39ee71
    2.2.1: f5d8e90ecb6c1c7e33ecddf8cc268a93b9e5b54e0e850320d765511d76624f41
  arm64:
    1.7.17: 8d9749985796a208e860afe331ec77cb485566104e5cc7c0b5e9e82ec7681969
    1.7.18: e80ce87b469af03b3bdcf68b95f0f4a303787ae247581bcd42f04acf1ad4c24d
    1.7.19: 1839e6f7cd7c62d9df3ef3deac3f404cdd5cd47bbdf8acfeb0b0f3776eb20002
    1.7.20: cf80cd305f7d1c23aaf0c57bc1c1e37089cad9130d533db6fe968cdebd16c759
    1.7.21: 7b6b67d998eb86856d23df5d57269c054539072bbb27677975cf78269b2c5c10
    1.7.22: 48d0a8461ae829b12b07c3663b14b70287d0607a0792719c51b4e4dd700b02ce
    1.7.23: 6a66b5e63a5e88ff7eeb478ccaca9083d44e51e1d7261ae183fe5951a6226ccd
    1.7.24: 420406d2b34ebb422ab3755fbeede59bf3bfcfccf5cfa584b558c93769d99064
    1.7.25: e9201d478e4c931496344b779eb6cb40ce5084ec08c8fff159a02cabb0c6b9bf
    1.7.26: adea067914e678ac37d5091ead66f1e36e5cced4d395bbd2be60772495e09eff
    1.7.27: 3f03ea60c7dacddf890be3ab18f7ef859d9d104b19627f52038d7984361912bc
    1.7.28: 97457594ff8549cb82d664306593cafd3d2c781c706f9fffed885a46d8919bec
    1.7.29: 176d523a6d6dc5520e0c35b8eb0de6e54bd4d00486d5fbbeb4163f30e2962f17
    1.7.30: a09c3b01b3b6935e839c8a9588b5528c57ebfca4747d816654a7d1e7575c0a63
    2.0.0: 2a00b1553f38aa9e716d61316b661961c2fbfbb7aad7bd73b377be5725ecc0f1
    2.0.1: b07120ae227b52edfdb54131d44b13b987b39e8c1f740b0c969b7701e0fad4fa
    2.0.2: 14a2a9f7f75f73e5bcfb8b183d0b84830c54b98ef8c5f6ed70e51f1a230c673e
    2.0.3: 3701008e72e983259afaa594cca5d8126e78e38cf0a586a1f6971cb3f61c4b6b
    2.0.4: 0fde98b24bb55363a54150732e0ac99a43bccf2a9711371bd5470f32790316f2
    2.0.5: 36eaf77dc65df4b60d6e06204631a4105b4e942dd2704d618758a2aa0eecc264
    2.0.6: 0f308f386b1ee24712875f02bded92ce7099a707ed43f57b3fb9c934dcb6bed1
    2.0.7: e590e39956a451ff692454ea991961b08627c514dcc253e8845d2a57f9a78e2f
    2.1.0: f6c3972347848177805eed8a9c282fca6aaec0e6fd28701579e63cb20bdbce07
    2.1.1: 4e3c8c0c2e61438bb393a9ea6bb94f8f56b559ec3243d7b1a2943117bca4dcb4
    2.1.2: 57fa4005ed3bb648f4a2ff3ef2f9ce12b27ee1397225626e3165b9ef4af45530
    2.1.3: 7e423abc7bf52ff6cb724f44995cca335b40331efa727415a5efc99ca34ac8d5
    2.1.4: 846d13bc2bf1c01ae2f20d13beb9b3a1e50b52c86e955b4ac7d658f5847f2b0e
    2.1.5: fe81122c0cc8222470fa3be51f42fa918ac29ffd956ccd2fc408c1997babd2ca
    2.1.6: 88d6e32348c36628c8500a630c6dd4b3cb8c680b1d18dc8d1d19041f67757c6e
    2.2.0: 8805c2123d3b7c7ee2030e9f8fc07a1167d8a3f871d6a7d7ec5d1deb0b51a4a7
    2.2.1: dac15a0d412a24be8bfe6a40cec8f51829062725169f1e72ac7d120a891ef5b6

containerd_download_url: "https://github.com/containerd/containerd/releases/download/v{{ containerd_version }}/containerd-{{ containerd_version }}-{{ ansible_facts['system'] | lower }}-{{ download_artifact_goarch }}.tar.gz" # noqa: yaml[line-length]
containerd_download_dest: "{{ download_artifact_work_directory }}/containerd-{{ containerd_version }}-{{ ansible_facts['system'] | lower }}-{{ download_artifact_goarch }}.tar.gz" # noqa: yaml[line-length]
containerd_archive_checksum: "{{ containerd_archive_checksums[download_artifact_goarch][containerd_version] }}"

containerd_pause_image_tag: "3.10"
containerd_pause_image: "registry.k8s.io/pause:{{ containerd_pause_image_tag }}"
containerd_insecure_registries: []

# NOTE(mnaser): This is to accomodate for the uninstallation of the old packages
#               that shipped with the operating system
containerd_package_name: containerd

containerd_binaries:
  - containerd
  - containerd-shim
  - containerd-shim-runc-v1
  - containerd-shim-runc-v2
  - containerd-stress
  - ctr

containerd_cfg_dir: /etc/containerd
containerd_cfg_file: "{{ containerd_cfg_dir }}/config.toml"
containerd_storage_dir: /var/lib/containerd
containerd_state_dir: /run/containerd

# NOTE(fitbeard): The default value is not -999 here because containerd's
#                 oom_score_adj has been set to the -999 even if
#                 `containerd_oom_score`` is 0.
#
# https://github.com/kubernetes-sigs/kubespray/pull/9275#issuecomment-1246499242
containerd_oom_score: 0

containerd_debug_level: "info"
containerd_max_container_log_line_size: -1

containerd_limit_proc_num: "infinity"
containerd_limit_core: "infinity"
containerd_limit_open_file_num: "{{ '1048576' if ansible_facts['os_family'] == 'RedHat' else 'infinity' }}"
containerd_limit_mem_lock: "infinity"

containerd_http_proxy: "{{ http_proxy | default('') }}"
containerd_https_proxy: "{{ https_proxy | default('') }}"
containerd_no_proxy: "{{ no_proxy | default('') }}"

# NOTE(jrosser): If you need to override the default containerd snapshotter, for example
# when the underlying filesystem does not support overlayfs, set it here
containerd_snapshotter: ""
# From containerd v2.1 the transfer service is used for image pulls which may require a
# platform explicitly configuring when not using the default snapshotter
# https://github.com/containerd/containerd/blob/main/docs/cri/config.md#image-pull-configuration-since-containerd-v21
containerd_snapshotter_platform: ""
