version = 2
root = "{{ containerd_storage_dir }}"
state = "{{ containerd_state_dir }}"
oom_score = {{ containerd_oom_score }}

[debug]
  level = "{{ containerd_debug_level | default('info') }}"

[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    sandbox_image = "{{ containerd_pause_image | vexxhost.containers.docker_image('ref') }}"
    max_container_log_line_size = {{ containerd_max_container_log_line_size }}
{% if ansible_facts['selinux'].status == 'enabled' %}
    enable_selinux = true
{% endif %}
  [plugins."io.containerd.grpc.v1.cri".registry]
    config_path = "/etc/containerd/certs.d"
  [plugins."io.containerd.grpc.v1.cri".containerd]
    {% if containerd_snapshotter | length %}snapshotter = "{{ containerd_snapshotter }}"{% endif %}
